* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.securityNav {
  width: 80%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.collapseDiv {
  justify-content: flex-end;
  display: flex;
}

.securityli {
  color: white;
}

.modernArea {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/assets/scss/img/header-bg\ \(1\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 650px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.securityUl {
  gap: 10px;
  font-size: 16px;
}

.moderncol {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 2px;
  width: 75%;
}

@media screen and (min-width: 300px) and (max-width: 586px) {
  .moderncol {
    font-size: 12px;
  }
}
@media screen and (min-width: 300px) and (max-width: 586px) {
  .exhibition {
    font-size: 14px;
  }
}
.startedBtn {
  width: 150px;
  height: 45px;
  border: none;
  background-color: #FAB700;
  color: white;
  margin-top: 15px;
}

.exhibition {
  font-weight: bolder;
  font-size: 58px;
}

.ourOfferedServices {
  margin-top: 30px;
  padding-top: 30px;
}

.ourOfferedServicessection {
  margin-top: 30px;
  padding-top: 30px;
}

.servicestext {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  flex-direction: column;
}

.systemText {
  color: gray;
}

.h5span {
  width: 90%;
  margin-top: 10px;
}

.windowspan {
  font-size: 15px;
  color: gray;
}

.policeImg {
  max-width: 100%;
}

.policediv {
  margin-top: 30px;
  padding-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.someFeatures {
  margin-top: 30px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.someFeatures h1 {
  color: black;
}
.someFeatures span {
  color: gray;
}
.someFeatures .someFeaturesText {
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.usericondiv {
  text-align: start;
  margin-top: 20px;
  max-width: 100%;
  padding: 30px;
}
.usericondiv span {
  width: 90%;
  font-size: 14px;
  text-align: start;
  display: flex;
  color: gray;
}

.usericon {
  display: flex;
  align-items: center;
  text-align: start;
  gap: 10px;
}
.usericon i {
  padding-bottom: 7px;
}

.usericondiv:hover {
  background-color: #e2aa0d;
  color: white;
}
.usericondiv:hover span:hover {
  color: white;
}

.apisection {
  margin-top: 30px;
  padding-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.latest {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.apidiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.consectetur {
  width: 60%;
  font-size: 14px;
  text-align: center;
  display: flex;
  color: gray;
  margin-top: 7x;
}

.addtobasketbtn {
  border: 2px solid rgb(168, 126, 13);
  width: 170px;
  height: 45px;
  border-radius: 10px;
  color: rgb(168, 126, 13);
  margin-bottom: 10px;
}

#productsList {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 30px;
}

.apiimage {
  max-width: 100%;
  width: 300px;
}

.boxDiv {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 1px solid rgb(196, 192, 192);
  text-align: center;
  align-items: center;
  justify-content: center;
}

#pagi {
  height: 40%;
  font-size: 12px;
  border-radius: 10px;
  border: 2px solid #bbb811;
  color: #717FE0;
}

#pagi:hover {
  background-color: #e2aa0d;
  transition: 0.3s;
  color: white;
}

@media screen and (max-width: 991px) {
  .basketicon {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 991px) {
  .basketicon {
    display: none;
  }
}